<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Site de monitoramento dos resultados das votações no Senado">
    <meta name="keywords" content="legislativo, senador, senadores, Senado, Senado Federal, votação, PEC, PL, MP, medida provisória, política, Michel Temer, presidente, governo, eleição, reforma, open data, transparency, government, social participation, democracy, visualization, Congress, politics, Brasil, Brazil, Brasília, brazilian, election, Planalto, Câmara, Câmara dos Deputados, Renan Calheiros, Eunício Oliveira, Aécio Neves, PMDB, PSDB, PT, Rede, PSB, PSD, PPS, PCdoB, PDT, PTC, DEM, Lava Jato, Sérgio Moro">
    <meta name="author" content="Gabriela Caesar">

    {% if title %}
    <title>plenário - {{ title }}</title>
    {% else %}
    <title>plenario</title>
    {% endif %}

    <link rel="shortcut icon" type="image/ico" href="{{ url_for('static', filename='imagens/faviconGeneratorOrg.ico') }}"/>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <!-- aqui começa a minha primeira dobra -->
    <header>
        <section class="container">
            <button id="hamburgerMenu">
                <span class="row"></span>
                <span class="row"></span>
                <span class="row"></span>
            </button>

            <nav id="hamburgerList" class="responsivList">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/senators">Senadores</a></li>
                    <li><a href="/propositions">Proposições</a></li>
                    <li><a href="/about">Sobre</a></li>
                </ul>
            </nav>

            <nav id="mainMenu" class="flex">
                <nav id="leftMenu">
                    <ul class="flex">
                        <li><a href="/">Home</a></li>
                        <li><a href="/senators">Senadores</a></li>
                        <li><a href="/propositions">Proposições</a></li>
                        <li><a href="/about">Sobre</a></li>
                    </ul>
                </nav>

                <nav id="socialMedia" class="visivel">
                    <div id="socialTop">
                        <a href="https://twitter.com/projetoPlenario" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
                        <a href="https://www.facebook.com/Plen%C3%A1rio-448853062151379/" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                        <a href="https://github.com/plenario" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
                        <a href="https://medium.com/@plenario" target="_blank"><i class="fa fa-medium" aria-hidden="true"></i></a>
                        <a href="https://www.instagram.com/projetoplenario/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    </div>
                </nav>
            </nav>
        </section>
    </header>

    <!-- aqui começa o menu lateral, durante o scroll -->

    <aside>
        <nav id="socialMediaScroll">
            <div id="socialScroll">
                <a href="https://twitter.com/projetoPlenario" target="_blank"><i class="fa colorBlack fa-twitter-square" aria-hidden="true"></i></a>
                <a href="https://www.facebook.com/Plen%C3%A1rio-448853062151379/" target="_blank"><i class="fa colorBlack fa-facebook-square" aria-hidden="true"></i></a>
                <a href="https://github.com/plenario/" target="_blank"><i class="fa colorBlack fa-github" aria-hidden="true"></i></a>
                <a href="https://medium.com/@plenario" target="_blank"><i class="fa colorBlack fa-medium" aria-hidden="true"></i></a>
                <a href="https://www.instagram.com/projetoPlenario/" target="_blank"><i class="fa colorBlack fa-instagram" aria-hidden="true"></i></a>
            </div>
        </nav>
    </aside>

    {% block content %}{% endblock %}


    <section class="container">
        <footer class="flex">
            <p>Desenvolvido com <i class="fa fa-heart" aria-hidden="true"></i> por Gabriela Caesar</p>
        </footer>
    </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>

