{% extends "index.html" %}
{% block content %}
  <section class="container">
    <div class="proposicaoIntro" alt="Foto: Ana Volpe/Agência Senado - 22.fev.2013">
      <h1>proposição</h1>
      <h2>saiba como cada senador votou</h2>
    </div>
  </section>
  <section class="container">
    <div class="proposicaoBoxAlone"><!-- este aqui é o meu donut chart -->
      <div class="boxChart">
        <canvas id="reformaTrabalhistaChart"></canvas>
      </div>
      <div class="boxContent">
        <div class="contentTitle"><!-- este aqui é o nome da proposição -->
          <p>{{ proposition.name }} </p>
        </div>
        <div class="date">
          <p>{{ proposition.date }} </p>
        </div>
        <div class="contentSubtitle"><!-- este aqui é a descrição da proposição -->
          <p>{{ proposition.description }}</p>
        </div>
        <div class="contentResult flex"><!-- este aqui é o resultado final da votação da proposição-->
          <!-- <div class="resultLabel">
            <table>
              <tr>
                <td class="greenLine">A favor</td>
                <td class="redLine">Contra</td>
                <td class="orangeLine">Não votou</td>
                <td class="purpleLine">Abstenção</td>
                <td class="grayLine">Ausência</td>
              </tr>
              <tr>
                <td>50</td>
                <td>26</td>
                <td>1</td>
                <td>1</td>
                <td>3</td>
              </tr>
            </table>
          </div> -->
        </div>
      </div>
    </div>
  </section>
{% endblock %}