{% extends "index.html" %}
{% block content %}
  <section class="container">
    <div class="senadoresIntro" alt="Foto: Marcos Oliveira/Agência Senado - 30.nov.2016">
      <h1>senadores</h1>
      <h2>saiba como votou cada senador</h2>
    </div>
  </section>
  <div class="container">
    <section id="senadores" class="flex">
      {% for senator in senators %}
      <div class="senadoresBox {{ senator.party }} uFRO">
        <a href="/senator/{{ senator.name }}">
          <img alt="Foto: Divulgação/Senado Federal" src="{{ url_for('static', filename=senator.image_url()) }}">
          <p class="senadoresName">{{ senator.name }}</p>
          <p class="senadoresParty">({{ senator.party }}-{{ senator.state }})</p>
        </a>
      </div>
      {% endfor %}
    </section>
  </div>
{% endblock %}